fastapi
uvicorn[standard]
jinja2
python-dotenv
python-multipart
sqlalchemy
psycopg2-binary
sentence-transformers
transformers
torch
rank-bm25
accelerate
PyPDF2
python-docx
faiss-cpu
python-pptx
beautifulsoup4
torchvision
docling
networkx
openai
httpx